<%- include('templates/header') -%>

<div class="container">
    <div class="jumbotron">
        <h1>
            SolBowl PNW Menu
        </h1>
    </div>
    <!-- 4:3 aspect ratio -->
    <div class="embed-responsive embed-responsive-4by3 iframe-container">
    <iframe class="embed-responsive-item" src="https://docs.google.com/document/d/e/2PACX-1vQCGo8qdihxPpDu4w5KZSSSSuhdd1XOuoExRUtRcvxz4QJ_rRrbBmK-BIKvC27BffRD1Y8Znib_2lWi/pub?embedded=true"></iframe>
    </div>

</div>
<%- include('templates/footer') -%>